.card-container {
  width: 100%;
  gap: 25px;
  display: flex;
  margin-bottom: 40px;
  margin-top: 40px;

  p {
    &:first-child {
      font-weight: 500;
      color: rgba(84, 95, 125, 1);
      text-transform: uppercase;
    }

    &:last-child {
      font-size: 24px;
      line-height: 28.15px;
      font-weight: 600;
      color: rgba(33, 63, 125, 1);
    }
  }

  .card-item {
    box-sizing: border-box;
    max-width: 240px;
    width: 100%;
    padding: 24px;
    font-weight: 500;
    font-size: 14px;
    gap: 14px;
    line-height: 16.42px;
    background-color: white;
    height: 160px;
    display: flex;
    flex-direction: column;

    text-transform: uppercase;
    color: rgba(84, 95, 125, 1);
    margin-bottom: 20px;
  }

  @media (max-width: 1024px) {
    gap: 15px;

    margin: 30px auto;

    .card-item {
      font-size: 12px;
      padding: 16px;
    }

    .card-item p {
      &:last-child {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
  @media (max-width: 745px) {
    flex-wrap: wrap;
    .card-item {
      max-width: 200px;
    }
  }

  @media (max-width: 466px) {
    justify-content: space-between;
    margin: 16px auto;
    .card-item {
      max-width: 160px;
      height: auto;
      font-size: 10px;
    }
    .card-item p {
      &:last-child {
        font-size: 16px;
        line-height: 18.77px;
      }
    }
  }
  @media (max-width: 388px) {
    .card-item {
      max-width: 142px;
      margin-bottom: 10px;
      height: auto;
    }
  }
  @media (max-width: 339px) {
    .card-item {
      max-width: 120px;
    }
  }
  @media (max-width: 290px) {
    .card-item {
      max-width: 110px;
    }
  }
}

.filter-card-container {
  box-sizing: border-box;
  position: absolute;
  background-color: white;
  border: 1px solid rgba(84, 95, 125, 0.14);
  width: 270px;
  padding: 20px;
  box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  overflow: hidden;

  .flex-container {
    display: flex;
    flex-direction: column;
  }

  .form-fields {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .form-field-item {
      display: flex;
      flex-direction: column;
      gap: 6px;

      input,
      select {
        font-family: "Work Sans", sans-serif;
        padding: 12px;
        font-size: 14px;
        line-height: 16.42px;
        color: rgba(84, 95, 125, 1);
        opacity: 70%;
        border-radius: 8px;
        border: 1px solid rgba(33, 63, 125, 0.2);
      }

      select {
        background: url("/sidebar/dropdown-outline.svg") 0 0 no-repeat;

        background-position:
          calc(100% - 12px) calc(1em + 2px),
          calc(100% - 15px) calc(1em + 2px),
          100% 0;

        // reset
        margin: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
      label {
        font-size: 14px;
        line-height: 16.42px;
        font-weight: 500;
        color: rgba(84, 95, 125, 1);
      }
    }
  }
}

.form-field-btn-group {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.btn {
  font-family: "Work Sans", sans-serif;
  padding: 12px 30px;
  border-radius: 8px;
}

.filled {
  @extend .btn;
  outline: none;
  border: 1px solid rgba(57, 205, 204, 1);
  background-color: rgba(57, 205, 204, 1);
  color: white;
}
.outline {
  @extend .btn;
  outline: none;
  border: 1px solid rgba(84, 95, 125, 1);
  background-color: white;
  color: rgba(84, 95, 125, 1);
}

.status-card-container {
  position: absolute;
  .items {
    display: flex;
    flex-direction: column;

    padding: 6px;
    box-sizing: border-box;
    gap: 20px;
    box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(84, 95, 125, 0.04);
    background: rgba(255, 255, 255, 1);
    border-radius: 4px;

    .item {
      border-radius: 8px;
      padding: 4px 10px;
      text-decoration: none;
      color: rgba(84, 95, 125, 1);
      display: flex;
      justify-content: flex-start;
      gap: 8px;
      align-items: center;
      font-size: 14px;
      line-height: 16.42px;

      &:hover {
        background: rgba(84, 95, 125, 0.1);
      }
    }
  }
}
