{
  "extends": "@istanbuljs/nyc-config-typescript",
  "extension": [
    ".ts",
    ".tsx",
    ".scss",
    "css"
  ],
  "exclude": [
    "cypress/**",
    "**/__fixtures__/**",
    "**/__mocks__/**",
    "**/__tests__/**",
    "cypress-coverage/**",
    "instrumented"
  ],
  "report-dir": "cypress-coverage",
  "reporter": [
    "text",
    "html",
    "json"
  ],
  "instrumenter": "nyc",
  "sourceMap": false,
  "all": true
}