// Colors
$color-primary-text: rgba(33, 63, 125, 1);
$color-secondary-text: rgba(84, 95, 125, 1);
$color-border: rgba(84, 95, 125, 0.15);
$color-highlight: rgba(57, 205, 204, 1);
$color-error: red;
$color-background: rgba(255, 255, 255, 1);
$color-shadow: rgba(0, 0, 0, 0.03);
$color-text: #1d1b20;
$color-disabled: rgba(190, 226, 227, 0.5);

// Fonts sizes and Line Height
$font-size-xxlarge: 55px;
$line-height-xxlarge: 54.64px;

$font-size-xlarge: 40px;
$line-height-xlarge: 54px;

$font-size-large: 28px;
$line-height-large: 32px;

$font-size-medium: 20px;
$line-height-medium: 27px;

$font-size-base: 16px;

$font-size-small: 14px;
$line-height-small: 19.12px;

$font-size-xsmall: 12px;
$line-height-xsmall: 16.39px;

// Font weights
$font-weight-bold: 700;
$font-weight-medium: 600;
$font-weight-regular: 400;


// Spacing
$spacing-xxlarge: 10rem;

// Spacing
$spacing-xxs: 2px;
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-2md: 20px;
$spacing-lg: 24px;
$spacing-xl: 32px; // 2rem
$spacing-xxl: 64px;
$spacing-5xl: 10rem;


// Border Radius
$radius-xs: 4px;
$radius-sm: 8px;
$radius-round: 50%;

// Dimensions
$height-button: 48px;