.pagination-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  .pagination-show {
    display: flex;
    max-width: 227px;
    width: 100%;
    color: rgba(84, 95, 125, 1);
    font-size: 14px;
    line-height: 16.42px;
    font-weight: 400;
    align-items: center;
    justify-content: space-around;

    .pagination-picker {
      width: 80px;
      height: 30px;
      background: rgba(33, 63, 125, 0.1);
      display: flex;
      justify-content: space-around;
      align-items: center;

      select {
        cursor: pointer;
      }
    }
  }

  .pagination-row {
  
    display: flex;
    max-width: 262px;
    width: 100%;
    justify-content: space-around;
    align-items: center;

    .arrow-background {
      width: 24px;
      height: 24px;
      background: rgba(33, 63, 125, 0.1);
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      cursor: pointer;

      .prev-icon {
        transform: rotate(180deg);

      }
      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
  }

  .pagination-list {
    display: flex;
    width: 100%;
    justify-content: space-around;

    .pagination-page {
      font-family: work sans;
      font-weight: 500;
      font-size: 1rem;
      line-height: 18.77px;
      color: rgba(84, 95, 125, 1);
      opacity: 60%;
      cursor: pointer;
      padding: 0;
      margin: 0;
      border: none;
      background-color: transparent;
      &.active {
        opacity: 1;
      }
    }
  }
}

@media (max-width: 600px) {
  .pagination-container {
    flex-direction: column-reverse;
    align-items: center;
    gap: 16px;

    .pagination-row {
      max-width: none;
    }
  }
}
