@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.sidebar-container {
  font-family: "Work Sans", sans-serif;
  background-color: white;
  flex-shrink: 0;
  .sidebar-org {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 40px;
    color: rgba(33, 63, 125, 1);
    font-weight: 400;
    margin: 1.5rem 0;
    padding: 0 30px;
  }
  .dashboard-link {
    padding: 0 30px;
  }

  .active {
    background: rgba(57, 205, 204, 20%);
    border-left: 3px solid rgba(57, 205, 204, 1);
    
    a {
      opacity: 1;
    }

    img span {
      opacity: 1;
    }
  }
}

.sidebar-nav-links {
  margin-bottom: 1rem;
  h4 {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    color: rgba(84, 95, 125, 1);
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 30px;
  }

  li {
    display: flex;
    align-items: center;
    padding: 0 30px;
  }

  &.logout {
    padding: 0px 30px;
    color: rgba(33, 63, 125, 1);
    a {
      opacity: 1;
    }


    p {
      padding-top: 20px;
      font-size: 12px;
      font-weight: 400;
      line-height: 14.08px;
    }
  }
}

.sidebar-text-icon {
  opacity: 0.6;
  font-weight: 400;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  gap: 10px;
  height: 40px;
  width: 100%;
  color: rgba(33, 63, 125, 1);
  text-decoration: none;


}

.sidebar-icon-container, .sidebar-icon-container-hide {
  display: none;
}

.open {
  display: none;
}

@media (max-width: 1290px) {
  .sidebar-container {
    display: none;
  }
  .sidebar-icon-container {
    display: block;
    position: absolute;
    top: -7px;
    left: -6px;

  }
  .sidebar-icon-container-hide {
    display: block;
    position: absolute;
    top: -7px;
    left: 220px;
    z-index: 200;
  }

  .open {
    display: block;
    position: absolute;
    z-index: 100;
    height: calc(100vh - 100px);
    overflow: scroll;
  }

  .hide-icon {
    display: none;
  }
}