@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.dashboard-container {
  position: relative;
  font-family: "Work Sans", sans-serif;
  height: 100vh;

  background: rgba(251, 251, 251, 1);
  display: flex;
  font-family: "Work Sans";

  main {
    flex-grow: 1;
    background: rgba(251, 251, 251, 1);
    margin: 0 24px;
  }

  .card-table-layout {
    margin: 0 auto;
    max-width: 1037px;
    margin-top: 60px;
    margin-bottom: 60px;

    h2 {
      font-size: 24px;
      line-height: 28.15px;
      color: rgba(33, 63, 125, 1);
      font-weight: 500;
    }
  }
}
@media (max-width: 1024px) {
  .dashboard-container-main {
    width: 88%;
  }
}

@media (max-width: 767px) {
  .dashboard-container {
    .card-table-layout {
      margin-top: 40px;
    }
  }
}
