.nav-container {
  background-color: white;
  display: grid;
  grid-template-columns: 0.76fr 2fr;
  align-items: center;
  height: 100px;
  margin: 0 30px;
  gap: 30px;
  box-sizing: border-box;
}

.search-links-container {
  display: flex;
  width: 100%;
  max-width: 1037px;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  font-family: "Roboto", sans-serif;
  color: rgba(33, 63, 125, 1);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3rem;
  width: 40%;

  p {
    text-decoration: underline;
    font-size: 1rem;
    font-weight: 400px;
  }

  .avatar {
    border-radius: 100%;
  }

  .username {
    display: flex;
    align-items: center;
    font-family: "Work Sans", sans-serif;
    font-size: 1rem;
    font-weight: 500;

    img {
      color: rgba(33, 63, 125, 1);
    }
  }
}

@media (max-width: 1113px) {
  .search-links-container {
    gap: 20px;
  }
  .nav-links {
    gap: 1.5rem;
    width: auto;

    .avatar {
      width: 48px;
      height: 48px;
    }
  }
}

@media (max-width: 767px) {
  .nav-container {
    display: block;
    margin: 20px 30px;
  }
  .logo-container {
    margin-bottom: 12px;
  }
  .logo-container img {
    width: 150px;
  }
}

@media (max-width: 600px) {
  .nav-links-docs,
  .nav-links-bell {
    display: none;
  }
}

@media (max-width: 466px) {
  .nav-links {
    .avatar {
    display: none;
    }
  }
  .logo-container img {
    width: 130px;
  }
}
