@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@mixin status-color($status) {
  color: $status;
  background-color: $status;

  &.inactive {
    color: gray;
    background-color: gray;
  }

  &.pending {
    color: yellow;
    background-color: yellow;
  }

  &.active {
    color: green;
    background-color: green;
  }

  &.blacklisted {
    color: red;
    background-color: red;
  }
}

.table-container {
  background-color: white;
  padding: 0 24px;

  .resp-table {
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
  }

  thead {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: rgba(84, 95, 125, 1);

    th {
      text-align: start;
      padding: 20px 20px 20px 0px;

      span {
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
      }
    }
  }

  tbody tr td {
    padding: 25px 20px 25px 0px;
    color: rgba(84, 95, 125, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.42px;
    font-family: "Work Sans", sans-serif;
    border-bottom: 1px solid rgba(33, 63, 125, 0.1);
  }

  tbody tr td:last-child {
    padding-right: 0px;
  }

  tbody > tr:last-child > td {
    border-bottom: 0;
  }

  td.error-message {
    color: red;
  }

  .status {
    padding: 0;
    span {
      padding: 6px 12px;
      font-family: Work Sans;
      font-size: 14px;
      font-weight: 400;
      line-height: 16.42px;
      text-align: center;
      border-radius: 100px;

      &.pending {
        background-color: rgba(233, 178, 0, 0.1);
        color: rgba(233, 178, 0, 1);
      }

      &.active {
        background-color: rgba(57, 205, 98, 0.1);
        color: rgba(57, 205, 98, 1);
      }

      &.inactive {
        background: rgba(84, 95, 125, 0.1);
        color: rgba(84, 95, 125, 1);
      }
      &.blacklisted {
        background-color: rgba(228, 3, 59, 0.1);
        color: rgba(228, 3, 59, 1);
      }
    }
  }
}
